{# 

 XNGAGE CONFIDENTIAL
 __________________________

 Copyright (C) 2021 Xngage - All Rights Reserved

 All code or information contained herein is, and remains the
 property of Xngage LLC and its customers. The intellectual
 and technical concepts contained are proprietary to Xngage LLC
 and may be covered by U.S. and Foreign Patents, patents in
 process, and are protected by trade secret or copyright law.
 Dissemination of this information or reproduction of this material
 is strictly forbidden unless prior written permission is obtained
 from Xngage LLC.
 
 #}
{% block _product_datagrid_product_list_schema_widget %}
	{% set productListArray = [] %}
	{% for productData in datagridData.data %}

		{% set unit = "" %}
		{% set price = 0 %}
		{% set inventoryStatus = productData.inventory_status == 'in_stock' ?   'InStock' : 'OutOfStock' %}
		{% set keys = productData.prices|keys %}
		{% if keys|length > 0 %}
			{% set productPrices = productData.prices %}
			{% set unit = productPrices[keys[0]].unit %}
			{% set price = productPrices[keys[0]].price %}
		{% endif %}

		{% set productListArray = productListArray|merge([{		
		        "@type": "Product",
                "name": productData.name,
                "description": productData.shortDescription|length > 0 ? productData.shortDescription : productData.name,
		        "productID": productData.id,
		        "url": app.request.getSchemeAndHttpHost() ~ productData.view_link,
		        "sku": productData.sku,
                "image": app.request.getSchemeAndHttpHost() ~ productData.image,
				"mpn":"",
				"aggregateRating": {
					"@type": "AggregateRating",
					"ratingValue": "",
					"reviewCount": ""
				},
				"offers":{
						"@type":"Offer",
						"priceCurrency": unit,
						"url": app.request.getSchemeAndHttpHost() ~ productData.view_link,
						"availability":"http://schema.org/" ~ inventoryStatus,
						"price":price
				},

				}])%}
	{% endfor %}

	{% set productListJson = {
		        "@context": "https://schema.org",
		        "@type": "ProductCollection",
		        "mainEntity" : productListArray
		     } %}

	<script type="application/ld+json">
		{{productListJson|json_encode(constant('JSON_UNESCAPED_SLASHES'))|raw}}
	</script>
{% endblock %}
