{# 

 XNGAGE CONFIDENTIAL
 __________________________

 Copyright (C) 2021 Xngage - All Rights Reserved

 All code or information contained herein is, and remains the
 property of Xngage LLC and its customers. The intellectual
 and technical concepts contained are proprietary to Xngage LLC
 and may be covered by U.S. and Foreign Patents, patents in
 process, and are protected by trade secret or copyright law.
 Dissemination of this information or reproduction of this material
 is strictly forbidden unless prior written permission is obtained
 from Xngage LLC.
 
 #}
{% block _schema_organization_widget %}
	{% if organization.description is not defined or organization.description  is null or organization.description  is empty %}
		{% set organization = organization|merge({'description': organization.name }) %}
	{% endif %}
	{% set organization = organization|merge({'sameAs':[
                                  'site.social_links.facebook'|trans,
                                  'site.social_links.instagram'|trans,
                                  'site.social_links.twitter'|trans,
                                  'site.social_links.linkedIn'|trans,
                              ] }) %}

	<script type="application/ld+json">
		{{organization|json_encode(constant('JSON_UNESCAPED_SLASHES'))|raw}}
	</script>
{% endblock %}

{% block _web_page_widget %}
	{% if webpage.description is not defined or webpage.description  is null or webpage.description  is empty %}
		{% set webpage = webpage|merge({'description': webpage.name }) %}
	{% endif %}

	<script type="application/ld+json">
		{{webpage|json_encode(constant('JSON_UNESCAPED_SLASHES'))|raw}}
	</script>
{% endblock %}

{% block _site_links_searchbox_widget %}
	{% set organization = organization|merge({'potentialAction': {

        "@type": "SearchAction",
        "target": organization.potentialAction.target ~ '/product/search?search={search_term_string}',
        "query-input": "required name=search_term_string"
        }
    }) %}

	<script type="application/ld+json">
		{{organization|json_encode(constant('JSON_UNESCAPED_SLASHES'))|raw}}
	</script>
{% endblock %}

{% block _site_navigation_widget %}
	{% set graph = [] %}
	{% for category in categories -%}
		{% set graph = graph|merge([{
						"@context":"https://schema.org",
						"@type":"SiteNavigationElement",
						"name":category.label,
						"url":app.request.getSchemeAndHttpHost() ~ category.url,
						"position":graph|length +1
    			}]) %}
	{%- endfor %}

	{% if item.displayed and item.extras.isAllowed %}
		{% apply spaceless %}
		{% for child in item.children -%}
			{% if child.displayed and child.extras.isAllowed %}

				{% set graph = graph|merge([{
						"@context":"https://schema.org",
						"@type":"SiteNavigationElement",
						"name":child.label,
						"url": child.uri|validUrl ? child.uri: app.request.getSchemeAndHttpHost() ~ child.uri,
						"position":graph|length +1
    			}]) %}
			{% endif %}
		{%- endfor %}
		{% endapply %}
	{% endif %}
	{% set organization = {
		"@context":"https://schema.org",
		"@graph":graph
	} %}
	<script type="application/ld+json">
		{{organization|json_encode(constant('JSON_UNESCAPED_SLASHES'))|raw}}
	</script>
{% endblock %}
