{# 

 XNGAGE CONFIDENTIAL
 __________________________

 Copyright (C) 2021 Xngage - All Rights Reserved

 All code or information contained herein is, and remains the
 property of Xngage LLC and its customers. The intellectual
 and technical concepts contained are proprietary to Xngage LLC
 and may be covered by U.S. and Foreign Patents, patents in
 process, and are protected by trade secret or copyright law.
 Dissemination of this information or reproduction of this material
 is strictly forbidden unless prior written permission is obtained
 from Xngage LLC.
 
 #}
{% block _schema_product_details_widget %}
	{% set image = product.image is defined ? asset(product.image|trim('/')) : product_image_placeholder('product_large') %}

	{% set unit = "" %}
	{% set price = 0 %}
	{% set inventoryStatus = product.inventoryStatus.id == 'out_of_stock' ? 'OutOfStock' : 'InStock' %}
	
	{% set keys = productPrices.getByProduct(product)|keys %}
	{% set prices = productPrices.getByProduct(product) %}
	{% if keys|length > 0 %}
		{% set unit = prices[keys[0]].unit %}
		{% set price = prices[keys[0]].price %}
	{% endif %}

	{% set productJson = {
		        "@context": "https://schema.org",
		        "@type": "Product",
                "name": product.name.string is defined ? product.name.string : product.name,
                "description": product.shortDescription.text is defined and product.shortDescription.text is not null and product.shortDescription.text != '' ? product.shortDescription.text|trim('<p>')|trim('</p>') : (product.name.string is defined and product.name.string is not null and product.name.string != '' ? product.name.string : product.name),
		        "productID": product.id,
		        "url": path('oro_product_view', {id: product.id}),
		        "sku": product.sku,
                "image": image,
				"mpn":"",
				"aggregateRating": {
					"@type": "AggregateRating",
					"ratingValue": "",
					"reviewCount": ""
				},
				"offers":{
						"@type":"Offer",
						"priceCurrency":unit,
						"url":path('oro_product_view', {id: product.id}),
						"availability":"http://schema.org/" ~ inventoryStatus,
						"price":price
					}
		     } %}

	<script type="application/ld+json">
		{{productJson|json_encode(constant('JSON_UNESCAPED_SLASHES'))|raw}}
	</script>
{% endblock %}

{% block _schema_breadcrumb_widget %}
	{% set breadcrumbArray = [] %}
	{% for breadcrumb in breadcrumbs %}
		{% set breadcrumbArray = breadcrumbArray|merge([{
            "@type": "ListItem",
            "position": loop.index,
            "item": {
                "@id": breadcrumb.url,
                "name": breadcrumb.label.string is defined ? breadcrumb.label.string : breadcrumb.label ,
            }
        }])%}
	{% endfor %}
	{% set breadcrumbJson = {
                     "@context": "https://schema.org",
                     "@type": "BreadcrumbList",
                      "itemListElement": breadcrumbArray
                    }%}

	<script type="application/ld+json">
		{{breadcrumbJson|json_encode(constant('JSON_UNESCAPED_SLASHES'))|raw}}
	</script>
{% endblock %}
